recursive-include msproteomicstoolslib *.py
recursive-include msproteomicstoolslib *.so
recursive-include analysis *.py
recursive-include gui *.py
recursive-include test *.py
recursive-include test/data *
